*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: url(/image//bg.jpg);
    background-size: cover;
    overflow: auto;
    height: 100vh;
    background-attachment: fixed;
}
input{
    border: none;
    outline: none;
    padding: 0.70rem;
    width: 100%;
    border-radius: 0.6rem 0 0 0.6rem;
}
button{
    border: none;
    outline: none;
    padding: 0.50rem;
    border-radius: 0 0.6rem 0.6rem 0;
}
.searchBody{
    display: flex;
    justify-content: center;
    margin-top:4rem ;
    
}
.main-temp{
    display: flex;
    /* margin: 2rem; */
}
.footer{
    margin-top: 6rem;
}
.clouds{
    /* display: flex;
    justify-content: center; */
    height: 15rem;
    margin-top: 1rem;
    /* width: 100%; */
}
h1{
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.651);
    font-weight: bold;
}
.block{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}
h2{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}
.sub{
    font-size: 3rem;
}
.humiImg{
    height: 4rem;
}
.humiData{
    display: flex;
}
.belowBody{
    margin: 5rem;
}
.windImg{
    height: 3.5rem;
}
.clock{
    height: 3rem;
    margin-right: 0.5rem;
}
.citu{
    font-size: 1.5rem;
    margin-top: 2rem;
    height: 3rem;
    width: 100%;
    /* padding: 1rem; */
    text-align: center;
    padding-top: 0.5rem;
    background-color: rgba(110, 200, 235, 0.849);
    border-radius: 0.5rem;
}
/* @media screen and (min-width: 350px) and (max-width:689px)  */
@media screen and (min-width: 350px) and (max-width:689px) {
    .clouds{
        /* height: 10rem; */
        margin-top: 1.5rem;
        /* margin: auto; */
    }
    .main-temp{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin: 0.5rem; */
    } 
    .humiData{
        margin: 3rem;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }
    .block{
        display: flex;
        flex-direction:row;
        margin-top: 2rem;
    }
    .block h2{
        margin: 2rem;
    }
    .footer{
        height: 200px;
        width: 100%;
        border-top: dashed rgb(70, 184, 230);
    } 
}

@media screen and (min-width: 638px) and (max-width:1000px){
    .footer{
        height: 200px;
        width: 100%;
        margin: 3rem;
        border-top: dashed rgb(70, 184, 230);
    } 
    .humiData{
        margin: 3rem;
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }
}